<div class="main-page">
  <h1 class="text-center">レシピ検索</h1>
  <div class="search-form">
    <%= form_tag(youtube_index_path, method: :get) do %>
      <%= text_field_tag :search, "", placeholder:"'材料'レシピ で検索" %>
      <%= submit_tag '検索' %>
    <% end %>
  </div>
  <br>
  <% if @check.present? %>
    <div class="container">
      <div class="row">
        <% @youtube_data.items.each do |item| %>
          <div class="card-box col-12 col-md-6 col-lg-4">
            <div class="card border-dark mb-3">
              <div class="bd-placeholder-img card-img-top">
                <% @snippet = item.snippet %>
                <% @video_id = item.id.video_id %>
                <div class="embed-responsive embed-responsive-16by9">
                  <div><iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
                </div>
                <div class="card-body">
                  <h4>タイトル：<%= @snippet.title %></h4>
                  <p>チャンネル名：<%= @snippet.channel_title %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
  <% end %>
</div>
