<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :product, "商品" %>
    <%= form.text_field :product %>
  </div>
  <div>
    <%= form.label :date, "日付" %>
    <%= form.text_field :date %>
  </div>
  <div>
    <%= form.submit button_value %>
  </div>
<% end %>
