<%= render "layouts/error_messages" %>
<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :product %>
    <%= form.text_field :product, class: "form-control" %>
  </div>
  <div>
    <%= form.label :date %>
    <%= form.text_field :date, class: "form-control", rows: 10 %>
  </div>
  <div>
    <%= form.submit button_value, class: "btn btn-primary btn-block" %>
  </div>
<% end %>
