<%= render "layouts/error_messages" %>
<%= form_with model: @post, local: true do |form| %>
  <div>
    <%= form.label :product %>
    <%= form.text_field :product %>
  </div>
  <div>
    <%= form.label :date %>
    <%= form.text_field :date %>
  </div>
  <div>
    <%= form.submit button_value %>
  </div>
<% end %>
