<h1 class="text-center">在庫一覧</h1>
<table class="table table-bordered table-striped mt-4">
  <thead class="table-primary">
    <tr>
      <th scope="col">商品</th>
      <th scope="col">期限</th>
      <th scope="col">残り日数</th>
      <th scope="col">備考</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td class="break-word"><%= link_to "#{post.product}", edit_post_path(post) %></td>
        <td class="break-word"><%= post.start_time.strftime("%Y/%m/%d") %></td>
        <td class="break-word">
          <% if post.start_time - Date.today > 0 %>
            <span>あと <%= (post.start_time - Date.today).to_i %> 日</span>
          <% elsif post.start_time - Date.today == 0 %>
            <span class="alort">今日までです</span>
          <% else %>
            <span class="alort">期限が過ぎています</span>
          <% end %></td>
        <td class="break-word"><%= post.memo %></td>
        <td class="text-nowrap">
          <%= link_to post, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-danger" do %>
            <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline"> 削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_post_path, class: "btn btn-primary" do %>
  <i class="fas fa-pen-fancy"></i> <span class="d-none d-md-inline"> 新規投稿</span>
<% end %>
<h2>期限カレンダー</h2>
<div class="col-md-8">
  <%= month_calendar events: @posts do |date, posts| %>
    <%= date.day %>
    <% posts.each do |post| %>
      <div>
        <%= link_to post.product, post %>
      </div>
    <% end %>
  <% end %>
</div>
</div>
</div>
</div>
