<h1 class="text-center">投稿一覧</h1>
<table class="table table-bordered table-striped mt-4">
  <thead class="table-primary">
    <tr>
      <th scope="col">No.</th>
      <th scope="col">商品</th>
      <th scope="col">購入日</th>
      <th scope="col">期限</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each.with_index(1) do |post, i| %>
      <tr>
        <th scope="row" class="text-right"><%= i %></th>
        <td class="break-word"><%= post.product %></td>
        <td class="break-word"><%= post.date %></td>
        <td class="break-word"><%= post.start_time.strftime("%Y/%m/%d") %></td>
        <td class="text-nowrap">
          <%= link_to post, class: "btn btn-primary" do %>
            <i class="fas fa-envelope-open-text"></i> <span class="d-none d-md-inline"> 詳細</span>
          <% end %>
          <%= link_to edit_post_path(post), class: "btn btn-success" do %>
            <i class="far fa-edit"></i> <span class="d-none d-md-inline"> 更新</span>
          <% end %>
          <%= link_to post, method: :delete, data: { confirm: "削除しますか?" }, class: "btn btn-danger" do %>
            <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline"> 削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="toppage">
  <h1 class="top">カレンダー</h1>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="schedule">今後の予定一覧</div>
      <%= form_with model: @post, local: true do |form| %>
        <div class="title">
          <div class="form-tag">商品</div>
          <%= form.text_field :product %>
        </div>
        <div class="time">
          <div class="form-tag">期限</div>
          <%= form.date_select :start_time %>
        </div>
        <div class="submit">
          <%= form.submit %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8">
    <%= month_calendar events: @posts do |date, posts| %>
      <%= date.day %>
      <% posts.each do |post| %>
        <div>
          <%= link_to post.product, post %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
</div>
</div>
