<div class="main-container" >
  <h2>あなたの冷蔵庫、見守ります</h2>
  <p>
    毎日開けてる冷蔵庫<br>
    でもうっかりこの商材忘れてた<br>
    そんなことをなくすためのサイトです。
  </p>
  <div class="btn-container">
    <% if user_signed_in? %>
      <%# ログイン時 %>
      <%= link_to "在庫をチェック", posts_path, class: "btn btn-info" %>
      <%= link_to "買い物リストを見る", memos_path, class: "btn btn-info" %>
      <%= link_to "レシピを検索", posts_path, class: "btn btn-info" %>
    <% else %>
      <%# 非ログイン時 %>
      <%= link_to "ログイン", new_user_session_path, class: 'btn btn-outline-info rounded-pill' %>
      <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: 'btn btn-outline-success rounded-pill' %>
    <% end %>
  </div>
</div>
