<h1>編集</h1>
<%= form_with model: @memo, local: true do |form| %>
  <div>
    <%= form.label :title, "商品" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, "備考" %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit "更新", class: "btn btn-primary" %>
  </div>
<% end %>
