<h3>新規投稿</h3>
<%= form_with model: @memo, local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.submit "送信" %>
  </div>
<% end %>
<h1 class="text-center">買い物リスト</h1>
<table class="table mt-4">
  <thead class="table-primary">
    <tr>
      <th scope="col">商品</th>
      <th scope="col">備考</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @memos.each do |memo| %>
      <tr>
        <td><%= memo.title %></td>
        <td><%= memo.content %></td>
        <td>
          <%= link_to edit_memo_path(memo), class: "btn btn-success" do %>
            <i class="far fa-edit"></i> <span class="d-none d-md-inline"> 編集</span>
          <% end %>
          <%= link_to memo, method: :delete, class: "btn btn-danger" do %>
            <i class="far fa-trash-alt"></i> <span class="d-none d-md-inline"> 削除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
