<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <span class="navbar-brand">食材管理アプリ</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "投稿一覧", posts_path, class: "nav-item nav-link active" %>
      <%= link_to "新規投稿", new_post_path, class: "nav-item nav-link active" %>
      <% if user_signed_in? %>
        <%# ログイン時 %>
        <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "nav-item nav-link active", method: :delete, data: { confirm: "ログアウトしますか？" } %>
        <%= "【ログイン中のアドレス】#{current_user.email}" %>
      <% else %>
        <%# 非ログイン時 %>
        <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
      <% end %>
    </div>
  </div>
</nav>
