<nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
  <span class="navbar-brand">
    <%= link_to "食材管理アプリ", root_path, class: "text-white" %>
  </span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav">
      <%= link_to "在庫一覧", posts_path, class: "nav-item nav-link active" %>
      <%= link_to "買い物リスト", posts_path, class: "nav-item nav-link active" %>
      <%= link_to "レシピ検索", posts_path, class: "nav-item nav-link active" %>
    </ul>
    <% if user_signed_in? %>
      <%# ログイン時 %>
      <ul class="navbar-nav ml-auto">
        <%= link_to "アカウント編集", edit_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログアウト", destroy_user_session_path, class: "nav-item nav-link active", method: :delete, data: { confirm: "ログアウトしますか？" } %>
      </ul>
    <% else %>
      <%# 非ログイン時 %>
      <ul class="navbar-nav ml-auto">
        <%= link_to "新規登録", new_user_registration_path, class: "nav-item nav-link active" %>
        <%= link_to "ログイン", new_user_session_path, class: "nav-item nav-link active" %>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, method: :post, class: "nav-item nav-link active" %>
      </ul>
    <% end %>
  </div>
</nav>
